<h1>My list of reviews</h1>
<ul>
  <% @reviews.each do |review| %>
  <li> Comment: <%= review.content%> Rating: <%= review.rating %></li>
  <% end %>
</ul>

<%= link_to "Add new restaurant",new_restaurant_path %>
